<div class="flex_container">
  <div class='todolist_container'>
    <h1 (click)="onNewTask()">Click for new todo</h1>
    <hr>
    <app-todolist-part *ngFor="let item of todolist; index as i" title={{item}} (deleteTask)="onDeleteTask($event)"
      (selectTask)="onSelectTask($event)"></app-todolist-part>
  </div>
  <div class="todoform_container">
    <h1>Todo Form</h1>
    <hr>
    <div>
      <form [formGroup]="myForm">
        <div class="formitem_container">
          <input type="text" id="title" formControlName="title" value="">
          <textarea type="text" id="content" formControlName="content" value=""></textarea>
          <div>
            <button (click)="onTodoSubmit()" [disabled]="((!myForm.valid)||(!changeMade()))">Submit</button>
            <button (click)="onRevert()" [disabled]="disableRevert()">Revert</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>